<header class="flex justify-center items-center py-5 w-full w-[1120px] mx-auto">
    <nav class="flex flex-row gap-x-10 opacity-80 text-white">
        <a href="#experience">Experiencia</a>
        <a href="#skills">Habilidades</a>
        <a href="#contact">Contactarme</a>
    </nav>
</header>