<a class="rounded-full border border-white/10 flex flex-justify items-center gap-x-2 py-1 lg:px-2 lg:px-4 text-xs lg:text-base transition hover:escale=110 hover:bg-white/10" {...Astro.props} target="_blank" rel="noopener noreferrer">
    <slot/>
</a>